@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F8F7F7;

}

a{
  text-decoration: none;
  color: black;
}

img{
  width: 100%;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}
.container-white{
  background-color: white;
}

nav{
  background-color:white;

  padding: 40px 0;
  max-width: 1280px;
  margin: 0 auto;
}
nav a{
  font-size: 13px;
  font-weight: bold;
}
#links{
  list-style: none;
  display: flex;
  gap: 30px;
}

#menu{
  display: none;
}
.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.hero{
  
  padding: 50px 0;
}

/* .cropper{
  background-color: orange;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.hero-image{
  width: auto;
  height: 100%;
  margin: 0 auto;
} */
.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-image-container{
  display: flex;
  justify-content: center;
}
.hero-image{
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.hero-title{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-description{
  font-size: 18px;
}
/* 0-640 */
@media only screen and (max-width:640px) {
  .grid-2{
    grid-template-columns: 1fr;
    padding:0px 10px;
  }
  .container{
    padding: 0 20px;
  }
  .hero-image{
    width: 200px;
    height: 200px;
  }

  #menu{
    display: block;
  }
  #links{
    display: none;
    position: absolute;
    right: 15px;
    top: 80px;
    background-color: white;
    padding: 5px;
  }
}

/* 640->adelante */
/* @media only screen and (min-width:640px) {
  .grid-2{

  }
} */